body{
    background-image: radial-gradient(circle 1180px at -19.5% -13.5%, rgba(254, 160, 198, 0.99) 0%, rgba(31, 47, 85, 1) 100.2%);
    background-repeat: repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    max-height: 100vh;
    /* display: flex;
    flex-wrap: wrap; */
}


.container {
    padding: 50px;

}

h1{
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}
h2{
    margin: 20px 0 0 0;
}
.task-button {
    display: inline-block;
    padding: 8px 30px;
    margin: 10px;
    font-size: 1em;
    color: white;
    text-decoration: none;
    background-color: #66af4c;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-button:hover {
    background-color: #45a049;
}